# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# PyCharm / JetBrains
# =========================
.idea/
*.iml
out/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# JSON files (ignore all)
# =========================
submissions_*.json